.main-container {
    display: flex;
    justify-content: flex-start;
    
}

.page-container {
    padding-left: 2rem;
    padding-top: 1rem;
    background-color: rgb(242, 242, 242);
    width: 100%;

}
