
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: sticky;
  margin-right: 1rem;
  padding-left: 2rem;
}

.link {
  text-decoration: none;
}