.sidebar {
  width: 18rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  padding: 0.5rem;
  align-items: left;

  .logo {
    margin: 0.5rem 0 1.5rem 0.5rem;
  }

  .link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.5s;
    font-size: 1rem;

    color: rgb(130, 130, 130);

    &:hover {
      color: black;
    }

    &.active {
      color: black;
      background-color: rgb(233, 233, 233);
    }
  }

  .menu-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.8rem;
  }
}
